
<!-- <app-register></app-register>
<app-login></app-login> -->
<ul>
    <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">register</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
    <li><a routerLink="/bookticket" routerLinkActive="active" ariaCurrentWhenActive="page">search</a></li>
    <li><a routerLink="psnger-dtls" routerLinkActive="active" ariaCurrentWhenActive="page">prsnl-info</a></li>


    
</ul>
<router-outlet></router-outlet>
