<footer class="Area"> 
    <div class="container">
     <div class="row">
        <div class="col-md-3 col-12" id="plant">
          <h4>planty</h4>
          Lorem ipsum dolor sit amet consectetur<br>
         adipisicing elit. Minima quae sunt et.<br>
          Sunt ullam quibusdam repellendus odit
          <p></p>
          <p></p>
            <div class="row" id="join">
              <div class="col">
               <h4><p>Join Newsletter</p></h4> 
              </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
          <h5>Our projects</h5>
          <ul>
            <li>Medical &Health</li>
            <li>Educations</li>
            <li>Technology</li>
            <li>Disclaimer</li>
            <li>Web Development</li>
            <li>Food & clothes</li>
          </ul>
        </div>
        <div class="col-md-3 col-12">
          <h5>Support</h5>
            <ul>
              <li>Privacy Policy</li>
              <li>Conditions</li>
              <li>Company</li>
              <li>Faq& Terms</li>
              <li>ContactUS</li>
            </ul>
        </div>
        <div class="col-md-3 col-12">
          <h5>ContactUS</h5>
          <ul>
            <li>Phone Number</li>
            +012(354)7893
            <li>Email Address</li>
              Planty@gmail.com
            <li>Locations</li>
            59 MainStreet,USA
          </ul>
        </div>
   </div>
   <div class="row" id="last">
    <div class="col" id="last1">
     <div class="text-carousel">
       Design & Developed By : Kunal Mahto
     </div>
    </div>
 </div>
    </div>
 </footer>
 