
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> ADMISSION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Admission procedure is carried out by an open advertisement made by Jharkhand Combined Entrance
                    Competitive Examination Board(JCECEB), Ranchi which invites application, conducts written test at
                    different centers in the state and subsequently arranges counseling works of the selected candidates
                    on
                    merit basis to get admission in different Government Polytechnics / Mining Institutes / Other
                    approved
                    private polytechnics of the state. Reservation policy of the Jharkhand Government is strictly
                    maintained
                    in this selection process. Beside this 1 seat in each discipline is also reserved for the ward of
                    defense personal.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Course Fee</h4>
            </div>
        </div>
    </div>
</section>
<section class="table">
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th>सामान्य/पिछड़ा वर्ग</th>
                        <th>राशि</th>
                        <th>अनुसूचित जाति/जनजाति</th>
                        <th>राशि</th>
                        <th>TFW/छात्राओं</th>
                        <th>राशि</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>नामांकन शुल्क</td>
                            <td>₹ 05</td>
                            <td>नामांकन शुल्क</td>
                            <td>₹ 05</td>
                            <td>नामांकन शुल्क</td>
                            <td>₹ 05</td>
                        </tr>
                        <tr>
                            <td>शिक्षण शुल्क</td>
                            <td>₹ 2400</td>
                            <td>शिक्षण शुल्क</td>
                            <td>₹ 600</td>
                            <td>शिक्षण शुल्क</td>
                            <td>₹ 00</td>
                        </tr>
                        <tr>
                            <td>विशेष शुल्क</td>
                            <td>₹ 200</td>
                            <td>विशेष शुल्क </td>
                            <td>₹ 200</td>
                            <td>विशेष शुल्क </td>
                            <td>₹ 200</td>
                        </tr>
                        <tr>
                            <td>कॉशन मनी *</td>
                            <td>₹ 200</td>
                            <td>कॉशन मनी *</td>
                            <td>₹ 200</td>
                            <td>कॉशन मनी </td>
                            <td>₹ 200</td>
                        </tr>
                        <tr>
                            <td>कुल राशि</td>
                            <td>₹ 2805</td>
                            <td>कुल राशि</td>
                            <td>₹ 1005</td>
                            <td>कुल राशि</td>
                            <td>₹ 405</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="table">
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th>General/BC-I/BC-II</th>
                        <th>Amount</th>
                        <th>SC/ST</th>
                        <th>Amount</th>
                        <th>TFW/Girls</th>
                        <th>Amount</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Admission Fee</td>
                            <td>₹ 05</td>
                            <td>Admission Fee</td>
                            <td>₹ 05</td>
                            <td>Admission Fee</td>
                            <td>₹ 05</td>
                        </tr>
                        <tr>
                            <td>Tution Fee</td>
                            <td>₹ 2400</td>
                            <td>Tution Fee</td>
                            <td>₹ 600</td>
                            <td>Tution Fee</td>
                            <td>₹ 00</td>
                        </tr>
                        <tr>
                            <td>Special Fee </td>
                            <td>₹ 200</td>
                            <td>Special Fee </td>
                            <td>₹ 200</td>
                            <td>Special Fee </td>
                            <td>₹ 200</td>
                        </tr>
                        <tr>
                            <td>Caution Money *</td>
                            <td>₹ 200</td>
                            <td>Caution Money *</td>
                            <td>₹ 200</td>
                            <td>Caution Money </td>
                            <td>₹ 200</td>
                        </tr>
                        <tr>
                            <td>Total Fee</td>
                            <td>₹ 2805</td>
                            <td>Total Fee</td>
                            <td>₹ 1005</td>
                            <td>Total Fee</td>
                            <td>₹ 405</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Examination</h4>
            </div>
        </div>
        <button (click)="hs()">{{button}}</button>

        <div class="row">
            <div class="col" *ngIf="status">
                <!-- <button (click)="hs()">Show</button> -->
                <!-- <button (click)="increment()">increment</button> -->
                <!-- <button (click)="myfun()">{{button}}</button> -->



                <p>The examination and certification of the selected and admitted candidates are done by Jharkhand
                    University of Technology(JUT), Ranchi, Jharkhand. At present, semester system. Minimum 75%
                    attendance of the students is necessary for appearing at their Board Examinations conducted by
                    Jharkhand University of Technology(JUT), Ranchi, Jharkhand.</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary" role="alert"
                    *ngIf="isstatus; else elseStatement" >
                       
                        A simple primary alert—check it out!
                      </div>
                      <ng-template #elseStatement>
                        <div class="alert alert-secondary" role="alert">
                            A simple secondary alert—check it out!
                          </div>
                          
                      </ng-template>
                </div>

                
            </div>

            <div class="row">
                <div class="col">
                    <div *ngIf="ischeck; then truepart else falsePart">
                        welcome User !
                       
                        A simple primary alert—check it out!
                      </div>
                      <ng-template #truepart>
                        <div class="alert alert-secondary" role="alert">
                           suceesfully registerred
                          </div>
                          </ng-template>
                          <ng-template #falsePart>
                            <div class="alert alert-secondary" role="alert">
                               something Wrong
                              </div>
                              </ng-template>

                </div>
        </div>
    </div>
</div>
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col">
                First Member={{namee[1]}}
                First Member={{namee[1]}}
                First Member={{namee[1]}}

            </div> -->
            <!-- <div class="row">
                <div class="col">
                    <table>
                        <tr>
                            <th>Name</th>
                        </tr>
                        <tr *ngFor="let data of namee">
                        <td>{{data}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li *ngFor="let data of namee">{{data}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table>
                       <tr>
                        <tbody>
                            <th *ngFor="let data of product">{{data}}</th>

                        </tbody>
                       </tr>
                       <tr>
                        <tbody>
                        <td *ngFor="let data of company">{{data}}</td>
                        </tbody>
                       </tr>
                    
                        
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Branch</th>
                            <th>Roll No</th>
                        </tr>
                        <tr *ngFor="let student of students">
                            <td>{{student.sid}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.branch}}</td>
                            <td>{{student.roll}}</td>
                       </tr>
                       </table>
                 </div>

            
    </div>
</div>
</div>
</section>
</section>
<section> -->
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table-bordered">
                     <tr>
                       
                        <th>id</th>
                        <th>BoardRoll</th>
                        <th>Name</th>
                        <th>Comapny</th>
                       
                     </tr>
                     <tbody>
                        <tr *ngFor="let datas of placement.current.mechanical">
                            <td>{{datas.id}}</td>
                            <td>{{datas.BoardRoll}}</td>
                            <td>{{datas.Name}}</td>
                            <td>{{datas.Company}}</td>
                         </tr>
                     </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- <p>{{price | currency:'INR'}}</p>
                <p>{{result | currency:'INR'}}</p>
                <p>{{price| currency:'INR':'code'}}</p>
                <p>{{price | currency:'CAD':'symbol'}}</p> -->
                <!-- <p>{{result |currency:'CAD':'symbol-narrow'}}</p>
                <p>{{result |currency:'INR':'symbol-narrow'}}</p>
                <p>{{result | currency:'Dollar':'Kuwait Dinar'}}</p>
                <p>{{result |currency:'INR':'symbol':'4.2-2'}}</p>
                <p>{{result |currency:'INR':'symbol':'3.1-1'}}</p> -->
                <!-- {{ result | currency:'EUR':'symbol':'3.2-2':'fr' }} -->




            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{result}}</p>
                <p>A: {{result | percent}}</p>
                <p>{{result | currency:'INR'}}</p>
                <p>{{ decimal_value | number }} </p>
                <p>{{ decimal_value | number:'1.0-6' }}  </p>
                <p>{{decimal_value | number:'4.5-5':'fr'}}</p>


            </div>
        </div>
    </div>
</section>

    
    <!-- <section>
    <div class="container">
        <div class="row">
            <div class="col" ngIf="status">
                <button (click)="fun()">Hide</button>
                <h1>Aafaque</h1>
            </div>
        </div>
    </div>
</section>
   -->
   <section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>NOTICE</h1>
            </div>
        </div><div class="row" *ngFor="let notice of notices">
            <div class="col">
                <p>{{notice.title}}</p>
            </div>
            <div class="col">
                <p>{{notice.date}}</p>
            </div>
            <div class="col">
                <p>{{notice.notice}}</p>
            </div>
            <div class="col">
                <p>{{notice.new}}</p>
            </div>
            <div class="col">
                <p>{{notice.home}}</p>
            </div> 
            
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Sheet</h1>
                <p>{{sheets}}</p>
                <p>Enter your google Form</p>
                <p>{{form}}</p>
            </div>
           
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <table border="1">
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                    <tr>
                        <td>{{fake}}</td>
                        <td>{{fake}}</td>
                        <td>{{fake}}</td>
                    </tr>
                    <tr>
                        <td>{{fake}}</td>
                        <td>{{fake}}</td>
                        <td>{{fake}}</td>
                    </tr>
                    <tr>
                        <td>{{fake}}</td>
                        <td>{{fake}}</td>
                        <td>{{fake}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>