<app-header></app-header>
<!--<section></section>
  
<app-header></app-header>
<app-footer></app-footer>
<app-about></app-about>
<app-home></app-home>
<app-addmision></app-addmision -->

  <nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a routerLink="/addmision" routerLinkActive="active" ariaCurrentWhenActive="page">Admission</a></li>
    <li><a routerLink="/footer" routerLinkActive="active" ariaCurrentWhenActive="page">footer</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">about</a></li>
    <li><a routerLink="/header" routerLinkActive="active" ariaCurrentWhenActive="page">header</a></li>
    <li><a routerLink="/testing" routerLinkActive="active" ariaCurrentWhenActive="page">testing</a></li>


  </ul>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>

