<header class="home">
    <div class="container">
     <div class="row">
         <div class="col-md-6 col-12">
             <p>This Site updated on : September 04, 2023</p>
         </div>
         <div class="col-md-6 col-12">
             <p>gpa2010@rediffmail.com</p>
         </div>
     </div>
    </div>
 </header>
<section class="head">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12" id="img">
                <div class="image-box">
                    <!-- No need for an <img> tag here 
                    img is fiitted into css as background of the box to enheance the quality-->
                  </div>
                  
            </div>
            <div class="col-md-9 col-12">
               <h1><p>Government Polytechnic Adityapur</p></h1>
               <h4>Department of Higher & Technical Education, Government of Jharkhand</h4>
            </div>
    
        </div> 
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p> Fill the google form</p>
                <p>{{form}}</p>
            </div>
        </div>
    </div>
</section>
 