
<section class="header">
    <div class="container" id="header">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-img-top">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                            <div class="container" id="nav1">
                              <a class="nav-link active" href="#">Shop</a>




                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>

                              <div class="collapse navbar-collapse" id="navbarScroll">
                                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                    <li class="nav-item dropdown" id="nav">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Produts
                                        </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Action</a></li>
                                          <li><a class="dropdown-item" href="#">Another action</a></li>
                                          <li><hr class="dropdown-divider"></li>
                                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                      </li>
                                  
                                  <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Fertilizer</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Guide</a>
                                 </li>
                                 <li class="nav-item mx-auto" id="nav2"> <!-- Apply mx-auto class to center this li -->
                                    <a class="nav-link active" href="#">Planty</a>
                                  </li>
                                </ul>
                                <!-- <ul>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">HYY</a>
                        
                                      </li>
                                </ul> -->
                               
                              </div>
                            </div>
                          </nav>
                     </div>
                    
                    <img src="../../../assets/images/828.png"  alt="...">
                     
                    <div class="card-img-overlay" id="title">

                      <h1 class="card-title">Bring Your Serenity</h1>
                      <h1 class="card-title">Your Place With</h1>
                      <h1 class="card-title">Interior Plants</h1>
                        
                    
                      <p class="card-text">
                        <small> Our Enviroment the world in which we live and <br>
                                 work is mirror of our attidudeds and expectaitions
                        </small>
                    </p>
                    <div class="d-grid gap-2 col-4 block">
                        
                        <button class="btn" type="button">Shop Now
                            <i class="bi bi-arrow-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                            </i>
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="hstack gap-3">
                    <div class="p-2">Featured</div>
                    <div class="p-2 ms-auto">View All</div>
                  </div>
            </div>
        </div>
    </div>
</section>



  


<section class="feature">
    <div class="container" id="feature">
        <div class="row">
            <div class="col">
                <div class="row row-cols-1 row-cols-md-3 g-4" >
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../assets/images/842.png"  class="card-img-top" alt="...">

                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../assets/images/843.png" class="card-img-top" alt="...">
                        
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../assets/images/844.png" class="card-img-top" alt="...">
                       
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>







<section class="search">
  <div class="container"id="search">
    <div class="row">
      <div class="col">
        <div class="col d-flex align-items-center" id="search">
            <label for="exampleDataList" class="form-label"></label>
            <input
              class="form-control-xl"
              list="datalistOptions"
              id="exampleDataList"
              placeholder="Type to search..."/>
            <datalist id="datalistOptions">
              <option value="San Francisco"></option>
              <option value="New York"></option>
              <option value="Seattle"></option>
              <option value="Los Angeles"></option>
              <option value="Chicago"></option>
            </datalist>
          </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="hstack gap-3">
                    <div class="p-2">Colorfull New Arrivals</div>
                    <div class="p-2 ms-auto">View All</div>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="new">
  <div class="container" id="new">
    <div class="row">
      <div class="col">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/834.png" alt="..."/>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/835.png"  alt="..." />
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/836.png"   alt="..."/>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/837.png" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class>
  <div class="container" id="plant">
    <div class="row">
      <div class="col"><h5>Plant Stands</h5></div>
    </div>
  </div>
</section>

<section class="cardhead">
  <div class="container" id="cardhead">
    <div class="row">
      <div class="col">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/838.png"
                class="card-img-top"
                alt="..."
              />
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/839.png"
                class="card-img-top"
                alt="..."
              />
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/840.png"
                class="card-img-top"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
