<section>
    <div class="container">
        <div class="row">
            <div class="col notice">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>Notices</h2>
            </div>
        </div>
        <div class="row" *ngFor ="let data of notice"  >
            <div class="col-md-2">
                {{data.date | date:'shortDate'}}
               </div>
           <div class="col-md-5">
               <a href="#">{{data.title}}</a> 
                
           </div>
           <div class="col-md-1">
            {{data.new}}
            
           </div>
           <div class="col-md-3">
        <a href="#"> {{data.notice}}</a>
               
           </div>
           <div class="col-md-1">
            {{data.home}}
            
           </div>
           
           
           
        </div>
    </div>
</section>
