<app-testing></app-testing>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <app-carousel></app-carousel>
            </div>
        </div>
    </div>
</section>
<section class>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Principal message</h4>
            </div>
            <div class="col-md-3 col-12">
                <img src="" alt="">
            </div>
            <div class="col-md-9 col-12">
                <p>This is the era of liberalization, privatization and globalization. The need of the hour is training
                    individuals in dynamic way and make them to face different challenges thrown up by rapidly changing
                    socio-economic technical scenario at the Global level. The Younger Generation must strive to develop
                    into a well rounded personality with excellent Technical, Managerial, interpersonal and
                    communication skills poised at the cutting-edge of Technology.</p>
            </div>
        </div>
    </div>
</section>
<app-test></app-test>