<section class="service">
    <div class="container" id="service">
        <div class="row">
            <div class="col">
                <div class="card text-bg-dark" id="image">
                    <img src="../../../assets/images/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background 1.png" class="card-img" alt="...">
                    <div class="card-img-overlay" id="title">
                      <h2 class="card-title">Free Shiping services</h2>
                      <p class="card-text">Only for the same region</p>
                      <p class="card-text"><small>+012(345)7893</small><br>
                        <small>order@planty.com</small>
                    </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>