<footer class="Area"> 
   <div class="container">
    <div class="row">
       <div class="col-md-3 col-12">
         <h4>Get in Touch</h4>
         <p><b>Government Polytechnic, Adityapur</b><br/>
            Adityapur Industrial Area<br/>
            Seraikella-Kharsawan, Jharkhand<br/>
            PIN- 832109</p>
            <p>6204869315</p>
            <p></p>

       </div>
       <div class="col-md-3 col-12">
         <h4>Menu Iems</h4>
         <ul>
           <li>Student panel</li>
           <li>addmisioin panel</li>
           <li>Downloads</li>
           <li>Disclaimer</li>
           <li>Privacy policy</li>
           <li>Refund policy</li>
         </ul>
       </div>
       <div class="col-md-3 col-12">
         <h4>Visitors Details</h4>
         <p>Your IP : 202.168.86.38</p>
         <p>Browser : Chrome</p>
       </div>
       <div class="col-md-3 col-12">
         <h4>Importants</h4>
         <ul>
            <li>MHRO</li>
            <li>AICTE</li>
            <li>Govt. Of Jharkhand</li>
            <li>JUT Ranchi</li>
            <li>SBTE Jharkhand</li>
            <li>JCECEB</li>
         </ul>
       </div>
  </div>
  <div class="row" id="last">
   <div class="col" id="last1">
    <div class="text-carousel">
      Design & Developed By : Kunal Mahto
    </div>
   </div>
</div>
   </div>
</footer>
